<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>Controlador.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSession</servlet-name>
        <servlet-class>Controlador.CerrarSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ocultar</servlet-name>
        <servlet-class>Controlador.Ocultar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Venta</servlet-name>
        <servlet-class>Controlador.Ventas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Compras</servlet-name>
        <servlet-class>Controlador.Compras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegCompra</servlet-name>
        <servlet-class>Controlador.RegCompra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSession</servlet-name>
        <url-pattern>/cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ocultar</servlet-name>
        <url-pattern>/ocultar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Venta</servlet-name>
        <url-pattern>/sellcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Compras</servlet-name>
        <url-pattern>/buyproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegCompra</servlet-name>
        <url-pattern>/registerbuy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
