
body{
    font-family: Arial;
}

.titleform1{
    text-align: center;
}

.form1{
    text-align: center;
    margin-left: -2px;

}

.form2{
    text-align: center;
    margin-left: 30px;

}
.reg0{
    text-align: center;
    margin-left: -170px;
}